  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RackCityRibs</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#main-carousel" onclick="smoothScroll(this); return false">Home</a></li>
        <li><a href="#about" onclick="smoothScroll(this); return false">About</a></li>
        <li><a href="#events" onclick="smoothScroll(this); return false">Events</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="carousel slide reviews" id="main-carousel" data-ride="carousel">
    <div class="carousel-inner reviews">
      <div class="caption-div">
        <h1 class="titlecaption">Rack City Ribs</h1>
        <span class="title-span">Eu mea nusquam deleniti intellegat, ei everti delicatissimi vis, cum ne case solum. Phaedrum voluptatibus signiferumque ne sit. Officiis adipisci ex vim, quo an graeco eligendi elaboraret, no mucius vocent similique per. Dico facilisi voluptatum pro in, aperiri elaboraret usu no.</span>
      </div>
      <div class="item  active reviews">
        <%= image_tag 'ribs2.jpg'%>
      </div>
      <div class="item reviews">
        <%= image_tag 'ribs1.jpg'%>
      </div>
    </div>
  </div>
    <%= render'about/about' %>
    <%= render'events/events' %>

<script type='text/javascript'>
$(document).ready(function() {
  $('.carousel').carousel({
    interval: 5000
  })
});

$(window).scroll(function(){
  var width = $(window).width();
    var body = $('body');
    var menu = $('#full-menu');
    var top = $(this).scrollTop();

    $('.carousel-inner img').css('top', top / 2);


});

</script>
