<div id="events" class="full-height">
<!-- <h1><center>events</h1>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  The API can't be loaded after the document has finished loading by default, you'll need to load it asynchronous.

  modify the page with the map:

  <div id="map_canvas"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>
  <script>
  var directionsDisplay,
  directionsService,
  map;

  function initialize() {
    var directionsService = new google.maps.DirectionsService();
    directionsDisplay = new google.maps.DirectionsRenderer();
    var chicago = new google.maps.LatLng(41.850033, -87.6500523);
    var mapOptions = { zoom:7, mapTypeId: google.maps.MapTypeId.ROADMAP, center: chicago }
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    directionsDisplay.setMap(map);
  }

  </script> -->
</div>
