<div id="about" class="full-height">
<h1 class="about-title">Welcome to RackCityRibs</h1>
  <p class="col-xs-6 about-paragraph">
    Barbeque grew up in the South of the USA where cooks learned to slow roast cuts of meat over fire pits to make them tender. Exposure to the smoke of the smouldering.
  </p>
  <p class="col-xs-6 about-paragraph">
    Barbeque grew up in the South of the USA where cooks learned to slow roast cuts of meat over fire pits to make them tender. Exposure to the smoke of the smouldering
  </p>
  <div class="carousel slide col-xs-6" id="about-carousel-left">
    <div class="carousel-inner about ">
      <div class="item  active ">
        <%= image_tag 'ribs2.jpg'%>
      </div>
      <div class="item ">
        <%= image_tag 'ribs.jpg'%>
      </div>
    </div>
  </div>
  <div class="carousel slide col-xs-6" id="about-carousel-right">
    <div class="carousel-inner about ">
      <div class="item  active ">
        <%= image_tag 'ribs.jpg'%>
      </div>
      <div class="item ">
        <%= image_tag 'ribs2.jpg'%>
      </div>
    </div>
  </div>
</div>
</div>

 <script type='text/javascript'>
$(document).ready(function() {
  $('#about-carousel-left').carousel({
    interval: 3000
  })
  $('#about-carousel-right').carousel({
    interval: 3000
  })
});


</script>
