@import "bootstrap-sprockets";
@import "bootstrap";
body{
  font-family:-webkit-body;
  margin: 0;
  padding: 0;

  /* Create a page-wide stacking context
  (so that negative margins work as you expect) */

  position:relative;
  background:black;
  z-index:0;
}

#main{
  position:relative;
  z-index:1;
  background:black;
}

footer{
  height: 245px;
  color: #ccc;
  font-size: 12px;

  position:relative;
  z-index:-2;
  background-color:black;
}

footer > ul{
  position:fixed;
  bottom:0;
  z-index:-1;
}

/* The four columns of links */

footer > ul > li{
  width:25%;
  float:left;
}

footer ul{
  list-style: none;
}

/* The links */

footer > ul > li ul li{
  margin-left:43px;
  text-transform: uppercase;
  font-weight:bold;
  line-height:1.8;
}

footer > ul > li ul li a{
  text-decoration: none !important;
  color:#333 !important;
}

footer > ul > li ul li a:hover{
  color:#fff !important;
}
.carousel-caption {
  top: 20px;
}
.carousel img{
  min-height:100vh;

}
.carousel{
  background:black;
}
.navbar {
  background: rgba(0, 0, 0, 0.8);
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 99;
}
.navbar-brand {
  color:rgb(147, 47, 47) !important;
  font-size: 25px;
}
.navbar-default .navbar-nav > li > a {
  color:#932f2f;
  font-size: 17px;
  &:hover {
  color:white;

  }
}
.caption-div{
  position:absolute;
  width:580px;
  z-index:2;
  color:#932f2f;
  background: rgba(0, 0, 0, 0.7);

  border-radius:5px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  display:block;
  top:100px;
}
.titlecaption {
  padding: 70px;
  padding-bottom: 0px;

  font-size: 50px;
  text-align:center;
}
.title-span {
  color:white;
  padding:20px;
  padding-top:10px;

  text-align:center;
  display:block;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color: #331E1A;
}
