@import "bootstrap-sprockets";
@import "bootstrap";
body{
  font-family:-webkit-body;
  background:transparent;
}

.carousel-caption.home {
  top: 20px;
}
.carousel.home img{
  min-height:100vh;

}
.carousel.home{
  background:black;
}
.carousel-inner.home{
  max-height:100vh;
}
.carousel-inner.about {


}
#about-carousel-right {

}
.navbar {
  background: rgba(0, 0, 0, 0.8);
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 99;
}
.navbar-brand {
  color:rgb(147, 47, 47) !important;
  font-size: 25px;
}
.navbar-default .navbar-nav > li > a {
  color:#932f2f;
  font-size: 17px;
  &:hover {
  color:white;

  }
}
.caption-div{
  position:absolute;
  width:580px;
  z-index:2;
  color:#932f2f;
  background: rgba(0, 0, 0, 0.85);

  border-radius:2px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  display:block;
  bottom:20px;
}
.titlecaption {
  padding-bottom: 0px;
  padding-top: 10px;


  font-size: 50px;
  text-align:center;
}
.title-span {
  color:white;
  padding:20px;
  padding-top:10px;

  text-align:center;
  display:block;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color: #331E1A;
}
#about {
  background:rgba(0, 0, 0,0.8);
}
.about-title {
  text-align:center;
  color:#932f2f;

  font-size:2.2em;
  font-weight:100;
  letter-spacing: 1px;
}
.about-paragraph {
  font-size:17px;
  margin-bottom:50px;
  color:rgb(148, 141, 141);

}
.about-bg{
  background-image: image-url("wood.jpg")
}
.full-height{
  min-height:100vh;
  position:relative;
  background:rgb(2, 4, 20);

}
h1 {
  margin-top:0px;
  margin-bottom:0px;
  padding-top:60px;
  padding-bottom:30px;


}

.navbar-toggle{
  border:none;
  margin-right:5px;
}
.icon-bar {
  background-color: #932f2f !important ;

}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #1C1C1C;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #411414;
  background: rgba(8, 6, 5, 0.9);
}
@media screen and (max-width : 660px){
  .carousel-inner.home img {
    max-width: 200%;
  }
  .caption-div {
    width: 430px;
  }

}
@media screen and (max-width : 460px){
  .titlecaption {
   font-size: 38px;

  }
  .caption-div {
    width: 80%;
  }
}
